# ==========================================
# JAVA / SPRING BOOT
# ==========================================
BackendDevOps/target/
BackendDevOps/.mvn/wrapper/maven-wrapper.jar

# ==========================================
# NODE / REACT
# ==========================================
FrontendDevOps/node_modules/
FrontendDevOps/dist/

# ==========================================
# LOG FILES
# ==========================================
*.log

# ==========================================
# IDE FILES
# ==========================================
.vscode/
.idea/
*.iml

# ==========================================
# OS FILES
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# ENVIRONMENT FILES
# ==========================================
.env

# ==========================================
# DOCKER TEMP FILES
# ==========================================
docker-data/